
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
venv
!project/terraform_gcp/datalake_metadata/source_files.csv
!project/terraform_gcp/datalake_metadata/source_files_commit_log.csv
!project/dbt_airlines/seeds/airports.csv